---
---

<aside class="w-[164px] h-[calc(100vh-50px)] md:fixed md:top-[50px] md:left-0 border-r border-r-[#dee2e6] bg-white overflow-y-auto z-40">
  <nav class="sticky top-0">
    <ul class="px-0">
      <li>
        <a href="/" class="flex items-center py-2 px-3 text-[13px] text-[#525960] hover:bg-[#f8f9f9] border-l-4 border-l-transparent hover:border-l-[#f48024]">
          <div class="w-4 mr-2 flex-shrink-0">
            <svg aria-hidden="true" class="svg-icon native iconHome" width="18" height="18" viewBox="0 0 18 18">
              <path d="M15 10v5a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-5H0l9-9 9 9h-3ZM9 4.09 4 9h2v5h6v-5h2L9 4.09Z" fill="#525960"></path>
            </svg>
          </div>
          <span>Home</span>
        </a>
      </li>
      <li>
        <a href="/questions" class="flex items-center py-2 px-3 text-[13px] text-[#525960] hover:bg-[#f8f9f9] border-l-4 border-l-[#f48024] bg-[#f1f2f3]">
          <div class="w-4 mr-2 flex-shrink-0">
            <svg aria-hidden="true" class="svg-icon native iconQuestions" width="18" height="18" viewBox="0 0 18 18">
              <path d="M4 14v-2h1v-2H4V8h1V6H4V4h9v10H4Zm8-8H7v1h5V6Zm0 3H7v1h5V9Zm-5 3h5v-1H7v1Z" fill="#f48024"></path>
            </svg>
          </div>
          <span class="font-bold text-black">Questions</span>
        </a>
      </li>
      <li>
        <a href="/tags" class="flex items-center py-2 px-3 text-[13px] text-[#525960] hover:bg-[#f8f9f9] border-l-4 border-l-transparent hover:border-l-[#f48024]">
          <div class="w-4 mr-2 flex-shrink-0">
            <svg aria-hidden="true" class="svg-icon native iconTags" width="18" height="18" viewBox="0 0 18 18">
              <path d="m6 1 .59-.59L1 6 0 5l6-4Zm5.02 2.56 1.42-1.42L16 5.7 14.58 7.12l-3.56-3.56Zm-7.6 7.6L2 9.8l5.58-5.58L8.8 5.64 3.42 11.16Zm9.37-4.71-4.98 4.98-1.42-1.42 4.98-4.98 1.42 1.42Z" fill="#525960"></path>
            </svg>
          </div>
          <span>Tags</span>
        </a>
      </li>
      <li class="mt-4">
        <div class="px-3 py-1 text-xs uppercase text-[#6a737c] font-bold">Discussions</div>
        <a href="/discussions" class="flex items-center py-2 px-3 text-[13px] text-[#525960] hover:bg-[#f8f9f9] border-l-4 border-l-transparent hover:border-l-[#f48024]">
          <div class="w-4 mr-2 flex-shrink-0">
            <svg aria-hidden="true" class="svg-icon native iconDiscussions" width="18" height="18" viewBox="0 0 18 18">
              <path d="M6 1a2 2 0 0 0-2 2v9a2 2 0 0 0 2 2h1v2a1 1 0 0 0 1.6.8L12 14h1a2 2 0 0 0 2-2V3a2 2 0 0 0-2-2H6Zm0 2h7a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1h-2l-2 2v-2H6a1 1 0 0 1-1-1V4a1 1 0 0 1 1-1Z" fill="#525960"></path>
            </svg>
          </div>
          <span>Discussions</span>
          <span class="ml-1 px-1.5 py-0.5 bg-[#f1f2f3] rounded-sm text-[10px] text-[#6a737c]">Labs</span>
        </a>
      </li>
      <li>
        <a href="/chat" class="flex items-center py-2 px-3 text-[13px] text-[#525960] hover:bg-[#f8f9f9] border-l-4 border-l-transparent hover:border-l-[#f48024]">
          <div class="w-4 mr-2 flex-shrink-0">
            <svg aria-hidden="true" class="svg-icon native iconChat" width="18" height="18" viewBox="0 0 18 18">
              <path d="M3 1h12a2 2 0 0 1 2 2v9a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V3c0-1.1.9-2 2-2Zm12 2H3v9h12V3Zm-6 2a1 1 0 1 1 0 2 1 1 0 0 1 0-2Zm3 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2ZM6 5a1 1 0 1 1 0 2 1 1 0 0 1 0-2Z" fill="#525960"></path>
            </svg>
          </div>
          <span>Chat</span>
        </a>
      </li>
      <li>
        <a href="/articles" class="flex items-center py-2 px-3 text-[13px] text-[#525960] hover:bg-[#f8f9f9] border-l-4 border-l-transparent hover:border-l-[#f48024]">
          <div class="w-4 mr-2 flex-shrink-0">
            <svg aria-hidden="true" class="svg-icon native iconArticles" width="18" height="18" viewBox="0 0 18 18">
              <path d="M15 2v12a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V2c0-1.1.9-2 2-2h8a2 2 0 0 1 2 2ZM5 2v12h8V2H5Zm6 3H7v1h4V5Zm0 3H7v1h4V8Zm0 3H7v1h4v-1Z" fill="#525960"></path>
            </svg>
          </div>
          <span>Articles</span>
        </a>
      </li>
      <li>
        <a href="/users" class="flex items-center py-2 px-3 text-[13px] text-[#525960] hover:bg-[#f8f9f9] border-l-4 border-l-transparent hover:border-l-[#f48024]">
          <div class="w-4 mr-2 flex-shrink-0">
            <svg aria-hidden="true" class="svg-icon native iconUsers" width="18" height="18" viewBox="0 0 18 18">
              <path d="M17 14c0 1.1-.9 2-2 2H3c-1.1 0-2-.9-2-2v-2h16v2ZM3 11V3c0-1.1.9-2 2-2h8c1.1 0 2 .9 2 2v8H3Zm2-6h8V3H5v2Zm0 2h8V5H5v2Zm0 2h8V7H5v2Z" fill="#525960"></path>
            </svg>
          </div>
          <span>Users</span>
        </a>
      </li>
    </ul>
  </nav>
</aside>
<div class="hidden md:block md:w-[164px]"></div> <!-- Spacer for sidebar -->
